* {
    margin:0;
    padding:0;
}

body {
    text-align: center;
}

/* Acceuil */

#background {
    margin: auto;
    position:absolute;
    background-image:url('../images/fond.png');
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#error{
    z-index: 1;
    position: absolute;
    top: 10%;
    margin: auto;
    width: 100%;
    color:red;
    text-align:center;
}

#login{
    /* background-color: rgb(300, 170, 50); */
    background-color: white;
    margin-top: 40%;
    padding: 50px;
    background-position: 50%;
    z-index: 1;
    position: absolute;
    transition: 1s all;
    display: inline-block;
    border-style:solid;
    border-width: 5px;
    width: 350px;
    height: 300px;
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -200%);
} 

.formLabel{
    margin: 5px;
    font-weight: bold;
}

.form{
    height: 20px;
  
    /* position:asolute; */
}


/* Loby */


#background_2 {
    margin: auto;
    position:absolute;
    background-image:url('../images/tavern.png');
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#frame{
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top: 12%;
    background-color: rgba(453, 233, 23, 0.5);
} 

#menu{
    text-align: right;
	float:right;
	width:100%;
	padding:25px 0 25px 0;
	text-align:right;
    z-index: 1;
    position:absolute;
    background-color: rgb(149, 171, 192);

}

#menu ul  li{
	display:inline;
	list-style-type:none;
}

#menu p{
    position:absolute;
    left: 10%;
}

li{
    background-color: rgb(226, 192, 128);
    font-family: Arial, Helvetica, sans-serif;
    font-size : 20px;
    margin: 0 10px 0 10px;
    padding: 10px;
    border-radius: 15%;
    border: groove;
}

/* pour le Deck */

#deck{
    height: 100%;
    width: 100%;
    position:absolute;
}

/* pour le jeu */

#jeuAdversaire{
    width: 100%;
    height: 150px;
    z-index: 1;
    position: absolute;
}

#carteAdv{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto;
    z-index: 1;
    height: 100px;
    width: 50%;
    margin-top: 25px;
    position: absolute;
    left: 0px;
}

.carteA{
    text-align: center;
    height: 50px;
    width: 25px;
    z-index: 1;
    background-color: yellow;
    text-align: center;
    padding: 10px;
    margin : 10px;
    margin-left: 20px;
    border-radius: 15%;
}

#infoAdv{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    
    z-index: 1;
    height: 100px;
    width: 50%;
    left: 50%;
    margin-top: 25px;
    position: absolute;
}

/* #infoACl{
    background-color: yellow;
    z-index: 1;
    height: 50px;
    width: 50px;
    padding: 10px;
    margin : 10px;
    font-size: 15px;
    text-align: center;
    
} */

#infoAN{
    z-index: 1;
    height: 50px;
    width: 50px;
    padding: 10px;
    margin : 10px;
    font-size: 15px;
    text-align: center;
    background-image:url('../images/ball.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
}

#infoAHp{
    
    z-index: 1;
    height: 50px;
    width: 50px;
    padding: 10px;
    margin : 10px;
    font-size: 15px;
    text-align: center;
    background-image:url('../images/coeur.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
}

#infoACa{
    
    z-index: 1;
    height: 50px;
    width: 50px;
    padding: 10px;
    margin : 10px;
    font-size: 15px;
    text-align: center;
    background-image:url('../images/card.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
}

#infoAMp{
    
    z-index: 1;
    height: 50px;
    width: 50px;
    padding: 10px;
    margin : 10px;
    font-size: 15px;
    text-align: center;
    background-image:url('../images/mana.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
}


#background_3{
    margin: auto;
    position:absolute;
    background-image:url('../images/fond3.jpg');
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jeuAdv{
    width:100%;
    height: 200px;
    z-index: 1;
    display:flex;
    top: 23%;
    position: absolute;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    justify-content: center;
}

.carteABoard{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin : 10px;
    font-size: 30px;
    text-align: center;
    height: 180px;
    width: 130px;
    z-index: 1;
    border-radius: 15%;
}

.imageCarte{
    margin:auto;
    width: 80%;
    height: 45%;
    top: 10%;
    margin-top: 10px;
    background-color: antiquewhite;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-repeat : no-repeat;
    background-position : center center;
}

.infoCarte {
    margin-left: 10px;
    font-size: 10px;
    text-align: left;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#jeuPlayer{
    width:100%;
    height: 200px;
    z-index: 1;
    display:flex;
    bottom: 35%;
    position: absolute;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    justify-content: center;

}

#infoPerso{
    display: grid;
    z-index: 1;
    position: absolute;
    bottom: 100px; 
    height: 200px;
    width: 200px;
    margin-left: 50px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    padding: 10px;
    position: absolute;
    bottom: 0px; 
    left: 50%;
    transform: translate(-50%);
    
}


.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin : 10px;
    font-size: 30px;
    text-align: center;
    height: 140px;
    width: 90px;
    z-index: 1;
    border-radius: 15%;
    
}

.grid-item > p {
    font-size: 10px;
    text-align: left;
}



#abandonne{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    z-index: 1;
    position: absolute;
    bottom: 0px; 
    height: 400px;
    width: 200px;
    right: 0px;
    margin-right: 50px;
}

#boutonA{
    height: 33%;
    width: 33%;
    
    bottom: 33%;
    left: 50%;
    transform: translate(-50%);
    padding: 35px 60px 0 60px;
    background-image:url('../images/fleche.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
}

#boutonB{
    height: 36%;
    width: 33%;
    
    bottom: 33%;
    left: 50%;
    transform: translate(-50%);
    padding: 35px 60px 0 60px;
    margin-right: 20px;
    background-image:url('../images/fleche.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
}

#boutonA > p{
    height: fit-content;
    text-align:center; 
    vertical-align: middle;
    display: table-cell;
}

#boutonB > p{
    padding-top: 10px;
    margin-right: 30px;
    height: fit-content;
    text-align:center; 
    vertical-align: middle;
    display: table-cell;
}


#classH{
    z-index: 1;
    position: absolute;
    bottom: 15%; 
    background-image:url('../images/ku.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    height: 40px;
    width: 100px;
    right: 0px;
    left: 50%;
    transform: translate(-50%);
    padding: 100px 20px;
}

#boutonChat{
    z-index: 1;
    position: absolute; 
    height: 30px;
    width: 55px;
    left: 3%;
    border: 2px solid rgba(0, 0, 0, 0.8);
    text-align:center; 
    top: 15%;
    padding-top: 10px;
    background-color: burlywood;
}

#erreur{
    z-index: 1;
    position: absolute;
    background-color: burlywood;
    height: 30px;
    width: 250px;
    bottom: 33%;
    left: 3%;
    border: 2px solid rgba(0, 0, 0, 0.8);
    text-align:center; 
    vertical-align: middle;
    display: table-cell;
    padding-top: 10px;
}

#nbCarte{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    
    background-image:url('../images/card.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    padding: 40px 25px 10px 25px; 
}

#vie{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    background-image:url('../images/coeur.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    padding: 30px 20px 0 20px; 
    margin-left: 20px;
   
    
}

#temps{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;

    background-image:url('../images/sablier.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    padding: 30px 20px 0 20px; 
}

#magie{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;

    background-image:url('../images/mana.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    padding: 30px 20px 0 20px; 
    margin-right: 30px;
}

#partieTermine{
    z-index: 1;
    position: absolute;
    padding: 100px;
    background-color: rgb(233, 145, 145);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid rgba(0, 0, 0, 0.8);
}

#back{
    padding: 20px;
    margin: 20px;
    background-color: #dfdc27;
}

#back:hover {
    background-color:rgb(117, 117, 209); 
}


/* pour les stats */

.carteStat {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin : 10px;
    font-size: 30px;
    text-align: center;
    height: 180px;
    width: 130px;
    z-index: 1;
    border-radius: 15%;
}


#tableauStats {
    position: absolute;
    margin: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#background4 {
    margin: auto;
    position:absolute;
    background-image:url('../images/stats.jpg');
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




