@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin:0;
    padding:0;
    font-family:'Permanent Marker',  cursive;
}


html * {
    font-family: 'Permanent Marker',  cursive;

  }  

body {
    text-align: center;
}

/* Acceuil */

#background {
    margin: auto;
    position:absolute;
    background-image:url('../images/fond.png');
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#error{
    z-index: 1;
    position: absolute;
    top: 10%;
    margin: auto;
    width: 100%;
    color:red;
    text-align:center;
    font-size: 50px;
}

#title{
    height: 200px;
    width: 450px;
    background-image:url('../images/title.png');
    top: 20%; left: 50%; 
    transform: translate(-50%, -5%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
}

#login{
  
    box-shadow: 20px 20px 40px rgba(60,60,150,0.25);
    background-color: white;
    padding: 50px;
    background-position: 40%;
    z-index: 1;
    position: absolute;
    transition: 1s all;
    display: inline-block;
    border-style:solid;
    border-width: 5px;
    width: 350px;
    height: 300px;
    top: 65%; left: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 8%;
    position: absolute;
} 

.formLabel{
    margin: 5px;
    font-weight: bold;
}

.form{
    height: 20px;
}


/* Loby */


#background_2 {
    margin: auto;
    position:absolute;
    background-image:url('../images/tavern.png');
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#frame{
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top: 12%;
    background-color: rgba(453, 233, 23, 0.5);
} 

#menu{
    text-align: right;
	float:right;
	width:100%;
	padding:25px 0 25px 0;
	text-align:right;
    z-index: 1;
    position:absolute;
    background-color: rgb(149, 171, 192);
    border: solid 2px rgb(112, 142, 243);
}

#menu ul  li{
	display:inline;
	list-style-type:none;
  
}

#menu p{
    position:absolute;
    left: 10%;
}

li{
    background-color: rgb(112, 142, 243);
    font-family: Arial, Helvetica, sans-serif;
    font-size : 20px;
    margin: 0 10px 0 10px;
    padding: 20px;
    border: groove;
}

li:hover{
    background-color: rgb(230, 107, 26); 
}

/* pour le Deck */

#deck{
    height: 140%;
    width: 100%;
    position:absolute;
}

#background_deck {
    margin: auto;
    position:absolute;
    background-image:url('../images/deck.jpg');
    width:100%;
    height: 140%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:10%
}

/* pour le jeu */

#jeuAdversaire{
    width: 100%;
    height: 150px;
    z-index: 1;
    position: absolute;
}

#carteAdv{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto;
    z-index: 1;
    height: 100px;
    width: 50%;
    margin-top: 25px;
    position: absolute;
    left: 0px;
}

.carteA{
    text-align: center;
    height: 50px;
    width: 25px;
    z-index: 1;
    background-color: rgb(130, 214, 104);
    text-align: center;
    padding: 10px;
    margin : 10px;
    margin-left: 20px;
    border-radius: 15%;
    background-image:url('../images/dosCarte.jpg');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
}

#infoAdv{
    display: grid;
    grid-template-columns: auto auto auto auto auto 30%;
    grid-template-rows: auto;
    z-index: 1;
    height: 100px;
    width: 50%;
    left: 50%;
    margin-top: 25px;
    position: absolute;
}

#infoAN{
    
    height: 90px;
    width: 90px;
    padding: 10px;
    margin : 10px;
    text-align: center;
    background-image:url('../images/ball.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    top: -20px;
    position: relative;
}

#infoAHp{
    z-index: 1;
    height: 50px;
    width: 60px;
    font-size: 40px;
    text-align: center;
    background-image:url('../images/coeur.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: -4px;
}

/*tutoriel sur https://www.youtube.com/watch?v=YDgw6HjMCoQ */
.container3{
    height: 100px;
    width: 100px;
    border-radius: 8px;
    display: grid;
    place-items: center;    
}

/*tutoriel sur https://www.youtube.com/watch?v=YDgw6HjMCoQ */
#circular-progress3{
    position: relative;
    height: 100px;
    width: 100px;
    box-shadow: 20px 20px 40px rgba(60,60,150,0.25);
    /* background-color: rgb(238, 164, 27); */
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: conic-gradient(red 3.6deg, #ffffff00 0deg)
}

#circular-progress3::before{
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

#infoACa{
    z-index: 1;
    height: 70px;
    width: 40px;
    padding: 10px;
    text-align: center;
    background-image:url('../images/dosCarte.jpg');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 40px;

}

#infoAMp{
    z-index: 1;
    height: 50px;
    width: 50px;
    padding: 10px;
    margin : 10px;
    font-size: 40px;
    text-align: center;
    background-image:url('../images/mana.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#background_3{
    margin: auto;
    position:absolute;
    background-image:url('../images/fond3.jpg');
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jeuAdv{
    width:100%;
    height: 200px;
    z-index: 1;
    display:flex;
    top: 16%;
    justify-content: center;
    position: absolute;
}

.carteABoard{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin : 10px;
    font-size: 30px;
    text-align: center;
    height: 210px;
    width: 150px;
    z-index: 1;
    border-radius: 5%;
    background-image:url('../images/oldBasic.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
}

.carteABoard > p{
    margin: 5px 10px 0 15px;
}

.imageCarte{
    margin:auto;
    width: 80%;
    height: 50%;
    top: 10%;
    margin-top: 10px;
    background-color: antiquewhite;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-repeat : no-repeat;
    background-position : center center;
}

.infoCarte {
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    font-size: 10px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#jeuPlayer{
    width:100%;
    height: 200px;
    z-index: 1;
    display:flex;
    bottom: 40%;
    position: absolute;
    justify-content: center;
}

#infoPerso{
    display: grid;
    z-index: 1;
    position: absolute;
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
}

#nbCarte{
    height: 100px;
    width: 70px;
    z-index: 1;
    background-image:url('../images/dosCarte.jpg');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    margin: 10px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-radius: 5%;
   
}

#nbCarte > p{
    top: 10%;
    width: 100%;
    text-align:center;
    position: relative;
    font-size: 50px;
}

#vie{
    height: 70px;
    width: 80px;
    z-index: 1;
    background-image:url('../images/coeur.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    object-fit:cover;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: -7%;
}

#vie > p{
    width: 100%;
    text-align:center;
    position: relative;
    font-size: 50px;
}

/*tutoriel sur https://www.youtube.com/watch?v=YDgw6HjMCoQ */
.container2{
    height: 125px;
    width: 125px;
    border-radius: 8px;
    display: grid;
    place-items: center;
}

/*tutoriel sur https://www.youtube.com/watch?v=YDgw6HjMCoQ */
#circular-progress2{
    position: relative;
    height: 125px;
    width: 125px;
    box-shadow: 20px 20px 40px rgba(60,60,150,0.25);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: conic-gradient(red 3.6deg, #ffffff00 0deg)
}

#circular-progress2::before{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;

}

#temps{
    height: 100px;
    width: 100px;
    z-index: 1;
    background-image:url('../images/sablier.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#temps > p{
    top: 10%;
    width: 100%;
    text-align:center;
    position: relative;
    font-size: 60px;
}

/*tutoriel sur https://www.youtube.com/watch?v=YDgw6HjMCoQ */
.container{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 8px;
    display: grid;
    place-items: center;
    bottom: 45%;
    right: 2% 
}

/*tutoriel sur https://www.youtube.com/watch?v=YDgw6HjMCoQ */
#circular-progress{
    position: relative;
    height: 125px;
    width: 125px;
    box-shadow: 20px 20px 40px rgba(60,60,150,0.25);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: conic-gradient(rgb(243, 203, 93) 3.6deg, #ffffff00 0deg)
}

#circular-progress::before{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;

}

#magie{
    height: 100px;
    width: 100px;
    z-index: 1;
    background-image:url('../images/mana.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    margin: 10px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#magie > p{
    top: 10%;
    width: 100%;
    text-align:center;
    position: relative;
    font-size: 60px;
}

#classH{
    z-index: 1; 
    background-image:url('../images/goku.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    height: 120px;
    width: 120px;
    margin: 10px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-radius: 50%;
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    padding: 10px;
    position: absolute;
    bottom: 15%; 
    left: 50%;
    transform: translate(-50%);
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin : 10px;
    font-size: 30px;
    text-align: center;
    height: 180px;
    width: 130px;
    z-index: 1;
    border-radius: 5%;
    background-image:url('../images/oldBasic.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
}


.grid-item > p {
    font-size: 10px;
    text-align: left;
}


#abandonne{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    z-index: 1;
    position: absolute;
    bottom: 5%; 
    right: 0px;
    margin-right: 50px;
}

#boutonA{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-image:url('../images/endTurn.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-radius: 50%;
}

#boutonB{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-image:url('../images/surrender.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-radius: 50%;

}

#boutonA > p{ 
    width: 100%;
    text-align:center; 
    position: relative;
}

#boutonB > p{
    width: 100%;
    text-align:center; 
    position: relative;
}

#boutonChat{
    z-index: 1;
    margin: 10px;
    height: 100px;
    width: 100px;
    text-align:center; 
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-image: url('../images/chat2.png');
    background-size: contain;
    background-repeat:   no-repeat;
}

#boutonChat > p {
    top:35%;
    width: 100%;
    text-align:center; 
    position: relative;;
}



.erreur{
    z-index: 2;
    position: absolute;
    height: 220px;
    width: 260px;
    bottom: 30%;
    left: 15%;
    text-align:center; 
    vertical-align: middle;
    display: table-cell;
    padding-top: 10px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-image:url('../images/dialogue.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
    position: absolute;
}

.erreur > p{
    top: 40%;
    width: 100%;
    text-align:center;
    position: relative;
}

.shenron{
    z-index: 2;
    height: 550px;
    width: 400px;
    background-image:url('../images/shenron.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
    position: absolute; 
    bottom: 5%;
    left: 3%;
}

#partieTermine{
    z-index: 1;
    position: absolute;
    padding: 50px;
    background-color: rgb(43, 34, 177);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid rgba(0, 0, 0, 0.8);
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    opacity: 0.8;

}

#back{
    padding: 20px;
    margin: 20px;
    background-color: #c7c69c;
    opacity: 1;
}

#back:hover {
    background-color:rgb(117, 117, 209); 
}

.feu {
    z-index: 2;
    height: 140px;
    width: 120px;
    background-image:url('../images/feu.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
    position: absolute;
    background-size: contain;
}

/* pour les stats */

.carteStat {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin : 10px;
    font-size: 30px;
    text-align: center;
    height: 280px;
    width: 200px;
    z-index: 1;
    border-radius: 5%;
    background-image:url('../images/oldBasic.png');
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
}

.carteStat > div{
    margin-left: 20px;
}

.carteStat > .imageCarte{
    margin-bottom: 10px;
}



#clear {
    position: absolute;
    top:10%;
    left: 5%;
    padding: 10px;
    width: 100px;
    background-color: #df8927;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 10%;
}

#clear:hover{
    background-color: #476be2;
}


#tableauStats {
    top:15%;
    position: absolute;
    margin: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#background4 {
    margin: auto;
    position:absolute;
    background-image:url('../images/stats.jpg');
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




