* {
    margin:0;
    padding:0;
}

body {
    text-align: center;
}

/* Acceuil */

#background {
    margin: auto;
    position:absolute;
    background-image:url('../images/fond.png');
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login{
    /* background-color: rgb(300, 170, 50); */
    background-color: white;
    margin-top: 20%;
    padding: 50px;
    background-position: 50%;
    z-index: 1;
    position: absolute;
    transition: 1s all;
    display: inline-block;
    border-style:solid;
    border-width: 5px;
    width: 350px;
    height: 300px;
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -150%);
} 

.formLabel{
    margin: 5px;
    font-weight: bold;
}

.form{
    height: 20px;
  
    /* position:asolute; */
}


/* Loby */


#background_2 {
    margin: auto;
    position:absolute;
    background-image:url('../images/tavern.png');
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#frame{
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top: 10%;
    background-color: white;
} 

#menu{
    text-align: right;
	float:right;
	width:100%;
	padding:25px 0 25px 0;
	text-align:right;
    z-index: 1;
    position:absolute;
    background-color: orangered;

}

#menu ul  li{
	display:inline;
	list-style-type:none;
}

li{
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size : 20px;
    margin: 0 10px 0 10px;
    padding: 10px;
    border-radius: 15%;
    border: groove;
}

/* pour le jeu */

#jeuAdversaire{
    width: 100%;
    height: 150px;
    background-color: #2196F3;
    z-index: 1;
    position: absolute;
    top: 10%;
    /* position: relative; */
    /* margin-top: 50px; */
}

#background_3{
    margin: auto;
    position:absolute;
    background-image:url('../images/battlefield2.jpg');
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#infoPerso{
    display: grid;
    z-index: 1;
    position: absolute;
    bottom: 0px; 
    background-color: #2196F3;
    height: 200px;
    width: 200px;
    margin-left: 50px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    position: absolute;
    bottom: 0px; 
    left: 50%;
    transform: translate(-50%);
}


.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin : 10px;
    font-size: 30px;
    text-align: center;
    height: 100px;
    width: 50px;
    z-index: 1;
}

.grid-item > p {
    font-size: 10px;
    text-align: left;
}

#abandonne{
    z-index: 1;
    position: absolute;
    bottom: 0px; 
    background-color: #2196F3;
    height: 200px;
    width: 200px;
    right: 0px;
    margin-right: 50px;

}

#classH{
    z-index: 1;
    position: absolute;
    bottom: 20%; 
    background-color: #2196F3;
    height: 20px;
    width: 100px;
    right: 0px;
    left: 50%;
    transform: translate(-50%);
}

#nbCarte{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: red;
}

#vie{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: red;
}

#temps{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: red;
}

#magie{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: red;
}

#boutonA{
    height: 33%;
    width: 33%;
    z-index: 1;
    position: absolute;
    bottom: 33%;
    left: 50%;
    transform: translate(-50%);
    background-color: red;

}




